<%= form_with model: [@list, @list.items.build] do |form| %>
  <div style="display: flex; width: 100%">
    <div class="field" style="display: flex; width: 100%">
      <%= form.text_field :name, placeholder: "Insira o Nome", style: "width: 100%" %>
    </div>

    <div class="field">
      <%= form.label :quantity %>
      <%= form.number_field :quantity, value: 1, min: 1 %>
    </div>
      
      <%= form.hidden_field :status, value: false %>
    
    <div>
      <%= form.submit %>
    </div>
  </div>
<% end %>
