<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item.status %>
</p>

<p>
  <strong>List:</strong>
  <%= @item.list_id %>
</p>

<%= link_to 'Edit', edit_list_item_path(@item.list, @item) %> |
<%= link_to 'Back', list_path(@item.list) %>

